@font-face {
    font-family: neueMachina-regular;
    src: url("../fonts/NeueMachina-Regular.ttf") format("ttf"), url("../fonts/NeueMachina-Regular.woff") format("woff"),
        url("../fonts/NeueMachina-Regular.woff2") format("woff2");
}

@font-face {
    font-family: ttOctosquares-regular;
    src: url("../fonts/TTOctosquares-Regular.ttf") format("ttf"),
        url("../fonts/TTOctosquares-Regular.woff") format("woff"),
        url("../fonts/TTOctosquares-Regular.woff2") format("woff2");
}

@font-face {
    font-family: ttOctosquares-medium;
    src: url("../fonts/TTOctosquares-Medium.ttf") format("ttf"),
        url("../fonts/TTOctosquares-Medium.woff") format("woff"),
        url("../fonts/TTOctosquares-Medium.woff2") format("woff2");
}

@font-face {
    font-family: mazzard-medium;
    src: url("../fonts/MazzardL-Medium.ttf") format("ttf"), url("../fonts/MazzardL-Medium.woff") format("woff"),
        url("../fonts/MazzardL-Medium.woff2") format("woff2");
}

@font-face {
    font-family: moveX-bold;
    src: url("../fonts/Move-X-Bold.otf") format("otf");
}

* {
    margin: 0;
}

.alert {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    transition-duration: 0.5s;
}

.alert-circle {
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 0px;
    height: 0px;
    margin: 20px;
    transition-duration: 0.5s;
}

.alert-title,
.alert-btn_block {
    opacity: 0;
    transition-duration: 2s;
}

@media (max-width: 529px) {
    .alert-circle {
        width: 350px;
        height: 350px;
    }
}

@media (max-height: 503px) {
    .alert-circle {
        width: 300px;
        height: 300px;
    }
}

.alert-title {
    color: #fff;
    font-family: ttOctosquares-regular;
    font-size: 3rem;
    letter-spacing: 5px;
}

.alert-btn_block {
    display: inherit;
    gap: 0 20px;
    margin-top: 10px;
}

.alert-btn {
    border: none;
    cursor: pointer;
    font-family: neueMachina-regular;
    font-size: 14px;
    padding: 2px 22px;
    letter-spacing: 2px;
}

.alert-btn:hover {
    border-bottom: 1px solid #000;
    padding-top: 1px;
}

.alert-btn:active {
    color: #fff;
    background: #000;
}

/* .wrapper {
    background: url("../images/bg-landing.jpg") no-repeat;
    background-size: cover;
    background-position-y: 4%;
} */

/* HEADER =====================================================================================*/
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* BURGER MENU =====================================================================================*/
.burger-menu_lines,
.burger-menu_elems {
    display: none;
}

.burger-menu_lines {
    position: absolute;
    top: 22px;
    right: 20px;
    width: 54px;
    height: 46px;
}

.top-line,
.middle-line,
.bottom-line {
    border: 1px solid #fff;
    border-radius: 8px;
    display: block;
    transition-duration: 0.3s;
    position: absolute;
}

.top-line {
    top: 14px;
    right: 10px;
    width: 34px;
    transition: top 0.3s 0.3s, transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.middle-line {
    top: 23px;
    right: 10px;
    width: 17px;
    transition: 0.3s 0.6s;
}

.bottom-line {
    top: 32px;
    right: 10px;
    width: 25px;
    transition: top 0.3s 0.3s, transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.burger-menu_lines.active .top-line {
    top: 23px;
    width: 25px;
    transform: rotate(-45deg);
    transition: top 0.3s 0.2s, transform 0.3s 0.6s cubic-bezier(0.68, 0.55, 0, 1.55);
}

.burger-menu_lines.active .middle-line {
    width: 0;
    opacity: 0;
    transition: 0.3s;
}

.burger-menu_lines.active .bottom-line {
    top: 23px;
    transform: rotate(45deg);
    transition: top 0.3s 0.2s, transform 0.3s 0.6s cubic-bezier(0.68, 0.55, 0, 1.55);
}

.burger-menu_elems {
    background: url("../images/backmobile.jpg") no-repeat 27%;
    position: absolute;
    width: 100%;
    opacity: 0;
    z-index: 1;
    transition-duration: 1s;
}

/* ================================================================================= */

.main-elems {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 35px 50px 0 74px;
}

.logo-img {
    z-index: 2;
}

.logo {
    height: 20px;
}

.social-icons {
    display: flex;
    align-items: center;
    z-index: 1;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 32px;
    text-decoration: none;
    transition-duration: 0.2s;
}

.icon-discord {
    background: url("../images/icons-white.png") no-repeat 0px -3px;
    width: 22px;
    height: 17px;
}

.icon-twitter {
    background: url("../images/icons-white.png") no-repeat -30px -2px;
    width: 23px;
    height: 18px;
}

.icon-mector {
    background: url("../images/icons-white.png") no-repeat -63px 0px;
    width: 23px;
    height: 23px;
}

.icon-discord:hover {
    background: url("../images/icons-black.png") no-repeat 0px -3px;
    width: 22px;
    height: 17px;
}

.icon-twitter:hover {
    background: url("../images/icons-black.png") no-repeat -30px -2px;
    width: 23px;
    height: 18px;
}

.icon-mector:hover {
    background: url("../images/icons-black.png") no-repeat -63px 0px;
    width: 23px;
    height: 23px;
}

.whitepaper {
    box-sizing: border-box;
    border: 7px solid transparent;
    border-image: url("../images/border-white.png");
    border-image-repeat: stretch;
    border-image-slice: 8;
    backdrop-filter: blur(10px);
    background-position: -6px -6px;
    color: #fff;
    position: relative;
    padding: 12px 44px 10px 44px;
    font-family: neueMachina-regular;
    font-size: 1rem;
    line-height: 22px;
    text-decoration: none;
    text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 -2px 0px 2px, #000 0px -2px 2px;
    transition-duration: 0.2s;
}

.whitepaper:hover {
    background: url("../images/backborder.png") no-repeat;
    background-position: -6px -6px;
    color: #000;
    text-shadow: 0 0 0;
}

.whitepaper::before,
.whitepaper::after {
    content: "";
    position: absolute;
    transition-duration: 0.3s;
}

.whitepaper::before {
    border-top: 9.5px solid #fff;
    border-right: 9.5px solid transparent;
    top: 3px;
    left: -2px;
}

.whitepaper:hover::before {
    border-top-color: #000;
}

.whitepaper::after {
    border-bottom: 9.5px solid #fff;
    border-left: 9.5px solid transparent;
    bottom: -2px;
    right: -2px;
}

.whitepaper:hover::after {
    border-bottom-color: #000;
}

/* MAIN ============================================================================================= */
.home {
    background: url("../images/main-img.jpg") no-repeat;
    background-size: cover;
    background-position: inherit;
}

.home,
.factions {
    height: 100vh;
    position: relative;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.nav-left_links {
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    position: absolute;
    top: 49%;
    left: -110px;
}

.left-links {
    color: rgba(255, 255, 255, 0.7);
    font-family: neueMachina-regular;
    font-size: 1rem;
    line-height: 22px;
    padding-bottom: 3px;
    transition-duration: 0.2s;
}

p[data-name="home"] {
    color: #fff;
}

/* .left-links_home .left-links:nth-child(1) {
    color: #fff;
}

.left-links_factions .left-links:nth-child(3) {
    color: #fff;
} */

.left-links:hover {
    cursor: pointer;
    color: #fff !important;
}

.star {
    background: url("../images/smol-star.png") no-repeat;
    width: 18px;
    height: 18px;
    margin: 0 42px;
}

.title {
    color: #fff;
    font-family: ttOctosquares-regular;
    font-size: 66px;
    font-weight: inherit;
    letter-spacing: 0.365em;
    text-transform: uppercase;
}

.title-home {
    text-align: center;
    margin: 0 170px;
}

.main-bottom_links {
    display: flex;
    justify-content: center;
    margin: 60px 0 -58px 0;
}

.bottom-linkL,
.bottom-linkR {
    text-shadow: 0 0 0;
    margin: 0 14px;
}

.bottom-linkL {
    border-image: url("../images/borderL.png");
    border-image-repeat: stretch;
    border-image-slice: 8;
    padding-left: 43px;
    padding-right: 44px;
}

.bottom-linkL:hover {
    background: url("../images/backbordL.png") no-repeat -6px -6px;
}

.bottom-linkR {
    padding-left: 28px;
    padding-right: 28px;
}

.bottom-linkR:hover {
    background: url("../images/backbordR.png") no-repeat -6px -6px;
}

.factions {
    background: url("../images/factions.jpg") no-repeat;
    background-size: cover;
    background-position: inherit;
}

.factions::after {
    background: linear-gradient(to bottom, rgba(30, 32, 44, 0) 0%, rgba(30, 32, 44, 1) 100%);
    content: "";
    height: 150px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.factions-content {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.title-factions {
    font-size: 80px;
    margin-left: 170px;
    letter-spacing: 0.7em;
}

.factions-link {
    width: 341px;
    margin-right: -60px;
}

.link-area:nth-child(1),
.link-area:nth-child(2),
.link-area:nth-child(3) {
    padding-bottom: 64px;
}

.link-area:nth-child(4) {
    padding-bottom: 11px;
    margin-bottom: 53px;
}

.link-area {
    padding-top: 10px;
    padding-right: 66px;
    height: 26px;
    transition-duration: 0.5s;
}

.area-r {
    background: url("../images/bg-area-wr.png") no-repeat 302px 0;
}

.area-l {
    background: url("../images/bg-area-wl.png") no-repeat 302px 0;
}

.area-r.active {
    background: url("../images/bg-area-cr.png") no-repeat 302px 0;
    padding-bottom: 21px;
    height: 228px;
}

.area-l.active {
    background: url("../images/bg-area-cl.png") no-repeat 302px 0;
    padding-bottom: 21px;
    margin-bottom: 0;
    height: 228px;
}

.link-area.active .faction-name {
    text-transform: uppercase;
    padding-bottom: 18px;
}

.faction-name {
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    font-family: ttOctosquares-medium;
    text-align: end;
}

.faction-img_link {
    display: none;
    position: relative;
    width: 272px;
    height: 184px;
    outline: 2px solid hsla(0, 0%, 100%, 0.4);
    outline-offset: -2px;
}

.faction-img_link::before,
.faction-img_link::after {
    content: "";
    position: absolute;
}

.faction-img_link::before {
    border-top: 17.5px solid #fff;
    border-left: 17.5px solid transparent;
    top: 8px;
    right: 8px;
    box-shadow: 3px -3px 0px #000;
}

.faction-img_link::after {
    border-bottom: 17.5px solid #fff;
    border-right: 17.5px solid transparent;
    bottom: 8px;
    left: 8px;
    box-shadow: -3px 3px 0px #000;
}

.faction-wrap_link {
    position: absolute;
    top: 26px;
    left: -60px;
}

.back-img1 {
    background: url("../images/back-link-1.png") no-repeat;
}

.back-img2 {
    background: url("../images/back-link-2.png") no-repeat;
}

.back-img3 {
    background: url("../images/back-link-3.png") no-repeat;
}

.back-img4 {
    background: url("../images/back-link-4.png") no-repeat;
}

.faction-link {
    color: #000;
    display: inline-block;
    font-size: 16px;
    font-family: neueMachina-regular;
    font-weight: 700;
    text-decoration: none;
    padding: 18px 42px;
}

.link-area.active .faction-img_link {
    display: block;
    animation-duration: 1s;
    animation-name: visibl;
}

@keyframes visibl {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ROADMAP ============================================================================ */
.roadmap {
    padding: 140px 0 140px 158px;
    position: relative;
    background: linear-gradient(to bottom, #1e202c 0%, #13151b 100%);
}

.roadmap-content {
    background: url("../images/pachinko-motel.png") no-repeat;
    background-position-x: 100%;
    background-position-y: -1%;
}

.left-links_roadmap {
    top: 56%;
    left: -164px;
}

.before-title {
    position: relative;
    margin-left: 90px;
}

.before-title span {
    background: url("../images/bordre-decor.png") no-repeat;
    display: inline-block;
    width: 162px;
    height: 14px;
    position: absolute;
    bottom: -12px;
    left: -84px;
}

.ourway {
    background: linear-gradient(90deg, #FFB800 0%, #FFBAC3 70.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    opacity: 0.95;
    font-size: 15px;
    font-family: mazzard-medium;
    font-weight: 700;
    width: 70px;
}

.title-roadmap {
    font-size: 64px;
    margin-bottom: 100px;
}

.title-roadmap span {
    background: url("../images/dblArrow.png") no-repeat;
    display: inline-block;
    margin-top: 50px;
    padding-right: 15px;
    width: 40px;
    height: 40px;
}

.tree-branch {
    cursor: pointer;
    position: relative;
    width: 371px;
    height: 115px;
    margin: 0 auto 0px 10%;
    padding: 20px 65px 90px 26px;
    transition-duration: 0.3s;
}

.branch-numb {
    color: #fff;
    font-family: neueMachina-regular;
    font-size: 40px;
    margin-bottom: 3px;
}

.branch-title,
.branch-description {
    color: #fff;
    font-family: mazzard-medium;
    font-size: 16px;
    margin-left: 4px;
    line-height: 140%;
}

.branch-description {
    width: 370px;
}

.marker-bg {
    width: 514px;
    height: 240px;
    padding-left: 82px;
    transition-duration: 0.3s;
}

.marker-bg_01 {
    background: url("../images/roadMap/branch-mw01.png") no-repeat 28px 54px;
}

.marker-bg_01.active,
.marker-bg_01:hover {
    background: url("../images/roadMap/branch-mc01.png") no-repeat 28px 54px;
}

.marker-bg_02 {
    background: url("../images/roadMap/branch-mw02.png") no-repeat 28px -113px;
}

.marker-bg_02.active,
.marker-bg_02:hover {
    background: url("../images/roadMap/branch-mc02.png") no-repeat 28px -113px;
}

.marker-bg_03 {
    background: url("../images/roadMap/branch-mw03.png") no-repeat 28px -96px;
}

.marker-bg_03.active,
.marker-bg_03:hover {
    background: url("../images/roadMap/branch-mc03.png") no-repeat 28px -96px;
}

.marker-bg_04 {
    background: url("../images/roadMap/branch-mw02.png") no-repeat 28px -112px;
}

.marker-bg_04.active,
.marker-bg_04:hover {
    background: url("../images/roadMap/branch-mc02.png") no-repeat 28px -112px;
}

.marker-bg_05 {
    background: url("../images/roadMap/branch-mw04.png") no-repeat 28px -104px;
}

.marker-bg_05.active,
.marker-bg_05:hover {
    background: url("../images/roadMap/branch-mc04.png") no-repeat 28px -104px;
}

.branch-01 {
    background: url("../images/roadMap/branch-blur01.png") no-repeat;
}

.branch-01.active,
.branch-01:hover {
    background: url("../images/roadMap/branch-white01.png") no-repeat;
}

.branch-02 {
    background: url("../images/roadMap/branch-blur02.png") no-repeat;
}

.branch-02.active,
.branch-02:hover {
    background: url("../images/roadMap/branch-white02.png") no-repeat;
}

.branch-03 {
    background: url("../images/roadMap/branch-blur03.png") no-repeat;
}

.branch-03.active,
.branch-03:hover {
    background: url("../images/roadMap/branch-white03.png") no-repeat;
}

.branch-04 {
    background: url("../images/roadMap/branch-blur04.png") no-repeat;
}

.branch-04.active,
.branch-04:hover {
    background: url("../images/roadMap/branch-white04.png") no-repeat;
}

.branch-05 {
    background: url("../images/roadMap/branch-blur05.png") no-repeat;
    height: 108px;
    padding: 22px 65px 0 26px;
}

.branch-05.active,
.branch-05:hover {
    background: url("../images/roadMap/branch-white05.png") no-repeat;
}

.tree-branch.active,
.tree-branch:hover {
    width: 424px;
    height: 129px;
    padding: 38px 49px 73px 30px;
}

.branch-numb.active,
.tree-branch:hover .branch-numb {
    color: #000;
    font-size: 45px;
}

.branch-title.active,
.branch-description.active,
.tree-branch:hover .branch-description,
.tree-branch:hover .branch-title {
    margin-left: 8px;
}

.branch-title.active,
.tree-branch:hover .branch-title {
    color: #000;
}

.branch-description.active,
.tree-branch:hover .branch-description {
    color: #000;
    font-size: 18px;
    width: 420px;
}

/* ADAPTIVE ==============================================================================*/
@media (max-width: 1549px) {
    .home-content {
        height: 74vh;
    }

    .main-bottom_links {
        top: 68%;
    }
}

@media (max-width: 1289px) {
    .logo-img {
        margin-top: -60px;
    }

    .social-icons {
        display: grid;
    }

    .icons {
        order: 1;
        justify-content: flex-end;
        margin-top: 32px;
    }

    .home-content {
        height: 67vh;
    }
}

@media (max-width: 997px) {
    .title {
        margin-top: -7%;
    }

    .main-bottom_links {
        top: 70%;
    }
}

@media (max-width: 824px) {
    .title {
        margin-top: -16%;
    }

    .main-bottom_links {
        top: 75%;
    }
}

@media (min-width: 800px) and (max-height: 600px) {
    .nav-left_links {
        top: 30%;
        left: -90px;
    }

    .star {
        margin: 0 10px;
    }
}

@media (max-width: 799px) {
    .burger-menu_lines {
        display: block;
        z-index: 2;
    }

    .home {
        background: url("../images/main-img_mobile.jpg") no-repeat;
    }

    .nav-center_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .left-links {
        font-size: 1.875rem;
    }

    .star {
        margin: 40px 0;
        padding: 9px 9px;
        width: 0;
        height: 0;
    }

    .icon {
        margin: 0 16px 0 16px;
    }

    .main-elems {
        margin-left: 30px;
        margin-right: 30px;
    }

    .logo-img {
        margin-top: 0;
    }

    .social-icons,
    .left-links_home {
        display: none;
    }

    .home-content {
        height: 71vh;
    }

    .title {
        margin: 0 24px;
    }
}

@media (max-width: 799px) and (min-height: 880px) {
    .nav-center_links {
        margin-top: 45px;
    }

    .icons {
        margin-top: 100px;
    }
}

@media (max-width: 799px) and (max-height: 880px) {
    .nav-center_links {
        margin-top: 40px;
    }

    .left-links {
        font-size: 24px;
    }

    .star {
        margin: 32px 0;
    }

    .icons {
        margin-top: 50px;
    }
}

@media (max-width: 799px) and (max-height: 740px) {
    .left-links {
        font-size: 20px;
    }

    .star {
        background: url("../images/smol-star2.png") no-repeat;
        padding: 6px 6px;
        margin: 20px 0;
    }
}

@media (max-width: 799px) and (max-height: 600px) {
    .nav-center_links {
        margin-top: 120px;
        margin-bottom: 60px;
        height: 100%;
    }
}

@media (max-width: 532px) {
    .title {
        font-size: 50px;
    }
}

@media (max-width: 419px) {
    .home-content {
        height: 49vh;
    }

    .title {
        margin: 0 20px;
        letter-spacing: 0.21em;
    }

    .main-bottom_links {
        display: grid;
        top: 86%;
    }

    .bottom-linkL {
        order: 1;
        width: 137px;
        margin-top: 22px;
        margin-left: 46px;
    }
}

@media (max-height: 399px) {
    .title {
        font-size: 30px;
    }
}

@media (max-width: 390px) {
    .burger-menu_elems {
        background-position: 27% 52%;
        background-size: 630%;
    }
}